name: deploy

run-name: ${{ github.actor }} is testing in ${{ inputs.environment }}

on:
  workflow_dispatch:
    inputs:
      environment:
        description: Environment you want to deploy to
        required: true
        type: environment

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Show environment variables
        run: |
          ${{ vars }} > list.txt
          tail -n +1 list.txt
